.header {
    display: flex;
    width: auto;
    height: 20vh;
    background-color: #262675;
    color: white;
    text-shadow: 2px 2px 2px lightgray;
    font-size: 125px;
    justify-content: center;
    box-shadow: 0px 2px 0px darkgray;
    margin-bottom: 10px;
}

/* Weather sidebar */
.weather {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 295px;
    margin-left: 5px;
}

.weatherCard {
    width: 288px;
    height: 325px;
    border: 2px solid darkgrey;
    box-shadow: 3px 2px 2px lightgrey;
}

/* content within the weather sidebar */
.card-body {
    text-align: center;

}

/* card title */
h1 {
    font-size: 30px;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #262675; */
}

/* textbox for zip code */
.weatherInput {
    margin: 3px 3px 3px 3px;
}

/* current weather styling */
/* current weather div */
.current {
    border: 2px solid darkgrey;
    height: 325px;
    width: 75%;
}

/*Section Title */
h3 {
    font-size: 30px;
    font-weight: bold;
}

/* sub titles */
h2 {
    font-size: 20px;
}


/* 5 day forecast styling */
.day {
    border: 2px solid darkgrey;
    width:100px;
    height: 150px;
    display: flex;
    flex: row wrap;
    flex-direction: row;
}