body {
    background-image: url("assets/sky.png");
}
.header {
    display: flex;
    width: auto;
    height: 20vh;
    background-color: #4a6183;
    justify-content: center;
    box-shadow: 0px 2px 0px black;
    
}
/* main title */
h6 {
    margin-top: auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 100px;
    text-align: center;
    margin: auto;
}

.recentSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size: 18px;
    


}

/* Weather  */
.weather {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-left: 5px;
}

.weatherCard {
    width: 100%;
    height: 218px;
    /* border: 2px solid darkgrey;
    box-shadow: 3px 2px 2px lightgrey; */
}

/* content within the weather  */
.card-body {
    text-align: center;

}

/* card title */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    /* text-shadow: 1px 1px 1px #262675; */
}

/* textbox for city */
.weatherInput {
    font-size: 18px;
    margin: 3px 3px 3px 3px;
}

.cityName {
    font-size: 18px;
}

/* current weather styling */
/* current weather div */
.current {
    background-color: #b7bccd;
    border: 2px solid darkgrey;
    height: auto;
    width: 75%;
    margin: auto;
 
}

.weatherDescription {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;

}

.weatherResults {
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
}

/*Section Title */
h3, h4 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* sub titles */
h2 {
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    margin-left: 8px;
}

.currentdate, .date {
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    color:#262675;
}

h5, .result {
    text-align: center;
}

h5 {
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size: 16px;    
}


/* 5 day forecast styling */
.fiveday {
    width:auto;
    height:auto;
    display: flex;
    flex: row wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.day {
    background-color: #ef7c8e;
    border-left:1px solid black;
    border-right:1px solid black;
    width: 100%;
    padding-left: 5px;
    text-align: center;
    /* flex: row wrap; */
    /* flex-direction: row; */
}

h5 {
    display:block;
}

@media screen and (max-width: 1024px) {
    .header {
        width: auto;
        height: 250px;
    }

    h6 {
        font-size: 90px;
        text-align: center;
        margin: auto;
    }
}